# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/

# OS / Editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp
*.swo

# Temporary & Local Captures
*.tmp
*.temp
*.bak
*.log
*.pcap_extracted
